<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^quotes/$ quotes.html
RewriteRule ^shelf/$ myshelf.html
RewriteRule ^notes/$ notesfromtheundergroundp1.html
RewriteRule ^notes/1/$ notesfromtheundergroundp2.html
RewriteRule ^notes/2/$ notesfromtheundergroundp2.html
</IfModule>
