body {
  background-color: #668099;
}

section.quotes {
  background-color: white;
  padding: 1rem 3rem;
  width: 800px;
  margin: 0 auto;
}

section.quotes p {
  line-height: 1.2;
}

section.quotes p i {
  font-size: 1.2rem;
}

@media screen and (max-width: 820px) {
  body {
    background-color: white;
  } 
  
  section { 
    width: 100%;
    margin: 0 0;
    padding: 0 0;
  }
}
