body {
  background-color: #668099;
}

a {
  text-decoration: none;
}

ul#mainIndexList a {
  font-family: monospace;
  font-size: 1.2rem;
  color: #868382;
}

ul#mainIndexList a:hover {
  font-size: 1.3rem;
  color: black;
}

section h1 {
  color: #668099;
  font-size: 1.8rem;
}

section.main {
  background-color: white;
  padding: 1rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  counter-reset: paragraphs;
}

section.main p {
  line-height: 1.2;
  padding-bottom: 0.7rem;
  border-bottom: 0.9px dotted;
  counter-increment: paragraphs;
}

section.main p i {
  font-size: 1.2rem;
}

section.main p a {
  font-size: small;
}

section.main footer span.totalCounterParagraphs {
  font-style: italic;
  font-size: 0.8rem;
}

section.main footer span.totalCounterParagraphs::after {
  content: counter(paragraphs);
}

section ol, section ul {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

section ol li, section ul li {
  font-size: 1.3rem;
}

.imageContext {
  width: 70%;
  margin: 5% auto;
}

.imageContext img {
  width: 100%;
  max-height: 600px;
}

.videoContext {
  width: 70%;
  margin: 5% auto;
}

.videoContext video {
  width: 100%;
  max-height: 600px;
}

.audioContext {
  width: 70%;
  margin: 5% auto;
}

.audioContext audio {
  width: 100%;
}

div.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.pagination .separator {
  padding: 5px;
}

button.bottomButton, button.topButton {
    background-color: white;
    border-radius: 5px;
    font-family: monospace;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
  body {
    background-color: white;
  }
}
